<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：名称空间；写接口的全类名，相当于告诉MyBatis这个配置文件是实现哪个接口的；  -->
<mapper namespace="com.zuoye0902.mapper.WorkerMapper" >
<!--    <resultMap id="WorkerMap" type="goods" autoMapping="true">-->
<!--        <id column="wid" property="wid"></id>-->
<!--        <association property="brand" javaType="brand" autoMapping="true">-->
<!--            <id column="bid" property="bid"></id>-->
<!--        </association>-->
<!--        <association property="classify" javaType="classify" autoMapping="true">-->
<!--            <id column="cid" property="cid"></id>-->
<!--        </association>-->
<!--    </resultMap>-->
<!--    <select id="getAllpages" resultMap="goodsMap">-->
<!--        select g.*,b.bname,c.cname from goods g inner join brand b on b.bid=g.bid inner join classify c on c.cid=g.cid-->

<!--            <where>-->
<!--                <if test="cid!=null and cid!=''">-->
<!--                   and g.cid=#{cid}-->
<!--                </if>-->
<!--                <if test="bid!=null and bid!=''">-->
<!--                  and  g.bid=#{bid}-->
<!--                </if>-->
<!--                <if test="x!=null and x!=''">-->
<!--                   and g.gname like '%${x}%' or g.number like '%${x}%'-->
<!--                </if>-->
<!--            </where>-->
<!--        limit #{index},#{count}-->
<!--    </select>-->
</mapper>