<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<h1>用户登录</h1>
<table>
    <tr><td>用户名:</td><td><input type="text" name="username" id="username"></td></tr>
    <tr><td>密码:</td><td><input type="password" name="password" id="password"></td></tr>

</table>
<button id="denglu">登录</button><button id="chongzhi">重置</button>
<script>
    $("#denglu").click(function(){
     if ($("#username").val()=="addmin"&&$("#password").val()==123456){
         location.href="/getall";
     }else {
         alert("登录失败")
     }
    })
    $("#chongzhi").click(function(){
        $("#username").val('');
        $("#password").val('');

    })
</script>
</body>
<style>
    button{
        margin-left: 20px;
    }
</style>
</html>